body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d4bfbf;
    margin: 0;
}

.container {
    text-align: center;
}
.one{
    border-color: black;
    border-style: solid;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: -20%;
    background-color: rgb(199, 199, 164);
    border-radius: 20%;
}

#display {
    font-size: 60px;
    margin-bottom: 50px;
}

.buttons button {
    font-size: 18px;
    padding: 20px 30px;
    margin: 5px;
    border-radius: 45%;
    cursor: pointer;
    background-color: bisque;
    font-weight: bolder;
    border: solid black;
}
.buttons button:hover {
    font-size: 18px;
    padding: 20px 30px;
    margin: 5px;
    border-radius: 45%;
    cursor: pointer;
    background-color: rgb(182, 125, 137);
    font-weight: bolder;
   
}
#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    font-size: 18px;
    padding: 5px 0;
}
